@import "../mixins/index";

$component-name: "breadcrumb";

@include b($component-name) {
  font-size: 14px;
  line-height: 1;
  @include clear-fix;

  @include e(separator) {
    margin: 0 9px;
    font-weight: bold;
    color: #b4bccc;

    &[class*=icon] {
      margin: 0 6px;
      font-weight: normal;
    }
  }

  @include e(item) {
    float: left;

    @include e(inner) {
      &, & a {
        font-weight: bold;
        transition: $color-transition-base;
        color: $text-dark;

        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }

    &:last-child {
      .ku-breadcrumb__inner,
      .ku-breadcrumb__inner a {
        &, &:hover {
          font-weight: normal;
          color: $text-regular;
          cursor: text;
        }
      }

      .ku-breadcrumb__separator {
        display: none;
      }
    }
  }
}
