{
  "presets": [
    "es2015",
    "es2016",
    "es2017",
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": [
    [
      "component", [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ],
    "transform-runtime"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
