// 变量
$white:                     #fff !default;
$gray-100:                  #f8f9fa !default;
$gray-200:                  #e9ecef !default;
$gray-300:                  #dee2e6 !default;
$gray-400:                  #ced4da !default;
$gray-500:                  #adb5bd !default;
$gray-600:                  #868e96 !default;
$gray-700:                  #495057 !default;
$gray-800:                  #343a40 !default;
$gray-900:                  #212529 !default;
$black:                     #000 !default;

$grays: () !default;
$grays: map-merge((
  '100':                    $gray-100,
  '200':                    $gray-200,
  '300':                    $gray-300,
  '400':                    $gray-400,
  '500':                    $gray-500,
  '600':                    $gray-600,
  '700':                    $gray-700,
  '800':                    $gray-800,
  '900':                    $gray-900
), $grays);


$blue:                      #007bff !default;
$indigo:                    #6610f2 !default;
$purple:                    #6f42c1 !default;
$pink:                      #e83e8c !default;
$red:                       #dc3545 !default;
$orange:                    #fd7e14 !default;
$yellow:                    #ffc107 !default;
$green:                     #28a745 !default;
$teal:                      #20c997 !default;
$cyan:                      #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
  'blue':                   $blue,
  'indigo':                 $indigo,
  'purple':                 $purple,
  'pink':                   $pink,
  'red':                    $red,
  'orange':                 $orange,
  'yellow':                 $yellow,
  'green':                  $green,
  'teal':                   $teal,
  'cyan':                   $cyan,
  'white':                  $white,
  'gray':                   $gray-600,
  'gray-dark':              $gray-800
), $colors);

$primary:                   $blue !default;
$secondary:                 $gray-600 !default;
$success:                   $green !default;
$info:                      $cyan !default;
$warning:                   $yellow !default;
$danger:                    $red !default;
$light:                     $gray-100 !default;
$dark:                      $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  'primary':                $primary,
  'secondary':              $secondary,
  'success':                $success,
  'info':                   $info,
  'warning':                $warning,
  'danger':                 $danger,
  'light':                  $light,
  'dark':                   $dark
), $theme-colors);

$text-dark:                 $gray-900 !default;
$text-regular:              $gray-700 !default;
$text-light:                $white !default;

/* Base
-------------------------- */
$color-transition-base:     color .2s cubic-bezier(.645,.045,.355,1) !default;
$title-color:               #1c2438;
$text-color:                $gray-600;
$font-size-base:            14px;
$font-size-small:           12px;
$line-height-base:          1.5;
$border-radius-base:        6px;
$border-radius-small:       4px;
$cursor-disabled:           not-allowed;

// 动画
$animation-time:            .3s;
$transition-time:           .2s;
$ease-in-out:               ease-in-out;

// Border color
$border-color-base:         #dddee1;
$border-color-split:        #e9eaec;

// Shadow
$shadow-color:              rgba(0, 0, 0, .2);
$shadow-base:               0 1px 6px $shadow-color;
$shadow-card:               0 1px 1px 0 rgba(0,0,0,.1);
$shadow-up:                 0 -1px 6px $shadow-color;
$shadow-down:               0 1px 6px $shadow-color;
$shadow-left:               -1px 0 6px $shadow-color;
$shadow-right:              1px 0 6px $shadow-color;

