@import "./variables";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; // css3 设置字体抗锯齿属性
  text-rendering: optimizeLegibility;
  font-family: $font-family;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

