/*! 字体 */
$font-family:                      Microsoft YaHei,Roboto-Regular,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;

/*! 字体大小 */
$font-size-large-extra:            20px !default;
$font-size-large:                  18px !default;
$font-size-medium:                 16px !default;
$font-size-small:                  14px !default;
$font-size-small-extra:            13px !default;
$font-size-small-extra-extra:      12px !default;


/*! 颜色 */
$blue:                             #20A0FF !default;
$success:                          #13CE66 !default;
$warning:                          #F7BA2A !default;
$danger:                           #FF4949 !default;

$blue-light:                       #58B7FF !default;
$blue-dark:                        #1D8CE0 !default;

$black:                            #1F2D3D !default;
$black-light:                      #324057 !default;
$black-extra-light:                #475669 !default;
$silver:                           #8492A6 !default;
$silver-light:                     #99A9BF !default;
$silver-extra-light:               #C0CCDA !default;
$gray:                             #D3DCE6 !default;
$gray-light:                       #E5E9F2 !default;
$gray-extra-light:                 #EFF2F7 !default;
$white:                            #FFFFFF !default;
$white-dark:                       #F9FAFC !default;

$index-background:                 #F7FAFE !default;

// z-index
$z-index-back-top:                 10;
$font-size-base:                   14px !default;

$font-weight-light:                300 !default;
$font-weight-normal:               400 !default;
$font-weight-bold:                 700 !default;

$btn-font-weight:                  $font-weight-normal !default;
$border-radius-base:               4px !default;

// Panels 面板
$panel-bg:                         #fff !default;
$panel-body-padding:               10px 28px !default;
$panel-header-padding:             21px 28px 10px !default;
$panel-footer-padding:             $panel-header-padding !default;
$panel-border-radius:              $border-radius-base !default;
