@import "functions";
@import "variables";
@import "mixins";
@import "components/nav";
@import "reboot";

body {
  font-family: Helvetica,Arial,'sans-serif','PingFang SC','Microsoft YaHei','Heiti SC',simhei,'Lucida Sans Unicode','Myriad Pro','Helvetica Neue','Roboto Light';
  background-color: #F7FAFE;
}

.float-left {
  @include float-left;
}

.float-right {
  @include float-right;
}

.float-none {
  @include float-none;
}

.hth-container {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

ul, li, ol {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}

.el-popover {
  min-width: 100px;
}

.text-center {
  text-align: center;
}
