/** 面板 */
.hth-panel {
  margin-bottom: 20px;
  background-color: $panel-bg;
  border: 1px solid transparent;
  border-radius: $panel-border-radius;
  box-shadow: 0 2px 6px 0 rgba(67, 135, 186, 0.14);
}

.hth-panel-header {
  padding: $panel-header-padding;
  border-bottom: 1px solid transparent;
}

.htn-panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil(($font-size-base * 1.5));
  color: #274161;
}

.hth-panel-body {
  padding: $panel-body-padding;
  @include clearfix;
}
